article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
  color: black;
}

.result {
  display: none;
  color: black;
}

.progress-bar {
  width: 1%;
  background-color: orange;
}
